<!-- This is the header syntax -->
<link rel="stylesheet" href="/css/header.css">
<div>
    <div class="navBar">
        <div class="nameOfApp"><img src="../images/logo.png"><a href="/"> ERS</a></div>
        <% if (locals.user){ %>
            <%if(locals.user.isAdmin){%>
                <div class="logOut">
                    <a href="/admin/assignWork"><button class="btn">Assign Work</button></a>
                    <a href="/admin/view-employee"><button class="btn">Employees</button></a>
                    <a href="/admin/add-employee"><button class="btn">Add Employee</button></a>
                    <a href="/users/sign-out"><button class="btn">Log Out</button></a>
                    <span class="nameOfUser"> <i class="fas fa-user"></i><%= locals.user.name%> </span>
                  </div>
                  
            <%}else{%>    
                
                <div class="logOut"> 
                <a href="/users/sign-out" > <small>LogOut</small> </a> 
                <span class="nameOfUser"> <i class="fas fa-user"></i><%= locals.user.name%>  </span>
            </div>
            <%}%>
            
        <%} else { %>
            <div class="noUser">
                <ul>
                    <li> <a href="/users/sign-in"> Sign-In </a> </li>
                    <li>  <a href="/users/sign-up"> Sign-Up </a> </li>
                </ul>
            </div>
        
        <%}%>       
    </div>
</div> 
