<link rel="stylesheet" href="/css/addEmployee.css">
<div class="mainContainer">
    <div class="companyLogo">
        <img src="../images/logo.png" alt="Company Logo">
    </div>

    <div class="formInput">
        <h1>Welcome</h1>
        <form method="POST" action="/users/addEmployee">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="email" name="email" placeholder="Enter email" required>
            <input type="password" name="password" placeholder="Enter password" required>
            <input type="password" name="confirmPassword" placeholder="Confirm password" required>
            <div class="buttons">
                <div id="addemp" class="submitButtons">
                    <button type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>