
<link rel="stylesheet" href="css/home.css">
<div>
    <section class="review12">
    <%if(locals.user){%>
        <div class="outerDiv">    
            <% if(!locals.user.isAdmin){ %>
                <div class="adminPass">
                    <form action="/users/makeAdmin" method="post">
                        <input name="admin_password" type="password" placeholder="Password">
                        <button type="submit" class="submitHomeButton"> Enter as Admin</button>
                    </form>
                </div>
            <%}%>    
        

                <!-- the text part -->
        <div class="home-box">
            <i class="text-colr">The Employee Review System (ERS) is a powerful and user-friendly web application designed to streamline the process of assigning tasks and reviewing employees within an organization. With ERS, managers and administrators can efficiently manage employee performance evaluations and feedback, fostering a more productive and engaged workforce.</i>
            <i class="text-colr">The Employee Review System enhances employee engagement, promotes professional growth, and fosters a culture of continuous improvement. By providing a transparent and efficient review process, ERS empowers organizations to optimize their talent management strategies and achieve their business objectives.Whether it.</i>
            <hr>
        </div>
        
        <div class="home-box">
            <div class="employeereview"> Your feedback on your co-employees performance is requested.Please take some time to review them.
                <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div><br>
            <i><h6>The Admin has delegated this task to you.</h6></i>
            </div>

            <div class="reviewBox">
                <% for(let i = 0 ;i<recipent.length ; i++ ) {%>
                    <%if(recipent[i] != null) {%>
                        <div class="outerBox">
                            <h6>
                                To : <%= recipent[i].name%>
                            </h6>
                            <div class="innerBox">
                                <form action="/reviews/newReview/<%= recipent[i]._id %>" method="get">
                                    <textarea class="formClass" placeholder="Review, here !" name="newReview" rows="5"
                                    id="floatingTextarea2">
        
                                    </textarea>
                                    <br>
                                    <button type="submit" class="submitHomeButton"> Submit </button>
                                </form>
                            </div>
                        </div>
                    <%}%>
                <%}%>   
            </div>
        </div>
    
        <div class="home-box">
           <div class="myreview">My Reviews <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div></div>
            <div class="reviewBox">

            
                <div class="card-out">
                    <% for(let review of reviews ) {%>
                        <div class="in-card">
                            <h5 class="cls-txt">Message : <%= review.content %> </h5>
                            <p class="cls-txt">From : <%= review.name %> </p>
                            
                        </div>
                    <%}%>    
                </div>
            

        </div>
    </div>
</section>
    <%}%>

</div>